RewriteEngine On
DirectoryIndex index.php

RewriteRule ^([^.]*)/([^.]*)/([^.]*)/([^.]*)/([^.]*)$ $1.php?p1=$2&p2=$3&p3=$4&p4=$5 [nc]

RewriteRule ^([^.]*)/([^.]*)/([^.]*)/([^.]*)$ $1.php?p1=$2&p2=$3&p3=$4 [nc]

RewriteRule ^([^.]*)/([^.]*)/([^.]*)$ $1.php?p1=$2&p2=$3 [nc]

RewriteRule ^([^.]*)/([^.]*)/([^.]*)$ $1.php?p1=$2 [nc]
